## Python ##
# Byte-compiled / DLL-files
__pycache__/
*.py[cod]
*$py.class

# C-Extensions
*.so

# pipenv
# Pipfile.lock

## Jupyter Notebooks ##
.ipynb_checkpoints
*/.ipynb_checkpoints/*

## Visual Studio Code ##
.vscode/
# .vscode/*
# !.vscode/extensions.json
# !.vscode/launch.json
# !.vscode/settings.json
# !.vscode/tasks.json

## Stack Exchange Data Dump
stack_exchange_data_dump/

## Distribution / Packaging / Backups ##
output/**/*.csv
output/**/*.png
!output/**/.gitkeep
